@use "style";
@use "adminstyle";
@use "paginate";
@use "table";
@use "video";

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
    font-size: 32px;
    font-weight: 900;
}
